<div class="row">
  <div class="col-sm-6">
    <p class="text-justify">
      I built this app to on a whim using the Faker gem to generate random superpowers.
      I've made some adjustments and changes since then to act as a framework to generate
      all kinds of random superbeings. You can decide whether they would be a hero or
      villian.
    </p>
  </div>
  <div class="col-sm-6">
    <p class="text-justify">
      The scale selected for everything is based upon the IQ scale. For the stats, a 105
      is about human average. A 140 IQ is a genius, so use that a a metaphorical guide for
      the other stats. A 140 Strength would be an olympic power lifter. A 70 Endurance
      would be a frail person, perhaps sickly or a compromised immune system.
    </p>
  </div>
  <div class="col-sm-6">
    <p class="text-justify">
      Each origin uses different combinations of random generation to create the powers
      and stats, weaknesses (if any), and there may be a few special modifiers that
      show up from time to time. ;) This is still a work in progress, and new origins and
      concepts might show up at any time.
    </p>
  </div>
  <div class="col-sm-6">
    <p class="text-justify">
      Powers follow a similar system, but a 105 would be an average superhero or villain
      with that power, since normal people don't have any powers. So if your alien has super
      strength 105, you'd assume they are very strong, like Spiderman or Luke Cage, which
      would probably be equal to a 200 normal Strength score, roughly.
    </p>
  </div>
  <div class="col-sm-6">
    <p class="text-justify">
      Warning! You shouldn't be surprised to find completely absurd combinations. You might
      get someone who is both weak vs death touch and immune to death touch. The app is no
      where near advanced enough to account for that, and never will be. The names used will
      be less than original in most cases, and you maight have to look up some of the powers
      that show up, because they run the gamut from comic books to television series to cartoons.
    </p>
  </div>
  <div class="col-sm-6">
    <p class="text-justify">
      Sometimes it helps to think in very general terms about some of these things. A weakness
      vs immortality or longevity might be a short lifespan, for example. If their powersource
      comes from a curse, maybe using their power even directly reduces their lifespan, like Spawn.
    </p>
  </div>
</div>
